* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #8B5CF6 0%, #06B6D4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#head{
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;

}
h1 {
    margin: 0 auto;
    font-size: 40px;
    margin-bottom: 15px;
    color: #030106;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.sudoku-container {
    background: rgb(130, 154, 201);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#sudoku-grid {
    border-collapse: collapse;
}

#sudoku-grid td {
    border: 1px solid #949494;
    width: 40px;
    height: 40px;
    text-align: center;
}

#sudoku-grid input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
}


#sudoku-grid tr:nth-child(3n) td {
    border-bottom: 2px solid #333;
}

#sudoku-grid td:nth-child(3n) {
    border-right: 2px solid #333;
}

#sudoku-grid tr:first-child td {
    border-top: 2px solid #333;
}

#sudoku-grid td:first-child {
    border-left: 2px solid #333;
}

.buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2c742f;
    color: white;
}

button:hover {
    opacity: 0.9;
}

#reset-btn {
    background-color: #a43129;
}

.note {
    margin-top: 10px;
    font-size: 13px;
    color: #292828;
}
#timer{
    position: absolute;
    right: 0;
    top: 0;
    border: #030106;
}
#time{
    display: inline-block;
    border: 1px solid #030106;
    border-radius: 5px;
    width: 6rem;
    height: 1.2rem;
    background-color: rgb(121, 161, 185);
    text-align: center;

}
